.header {
    padding-block: 2rem;
    padding-inline: 5%;

    &Title {
        font-size: 3rem;
        text-align: center;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-block: 3rem;
    padding-inline: 1rem;

    &Link {
        color: hsl(190deg 51% 28%);
        text-decoration: underline;
        text-align: center;
    }
}
