.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    margin-block: 20vh;

    &Title {
        font-size: 2.4rem;
    }

    &Btn {
        margin-block-start: 1rem;
        border-radius: 16px;
        padding-block: 10px;
        padding-inline: 14px;
        color: hsl(0deg, 0%, 100%);
        background-color: hsl(180deg 93% 20%);
    }
}
