.item {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    border-radius: 8px;
    padding: 12px;
    background-color: hsl(0deg 0% 95%);

    &Name {
        align-self: center;
        padding-block-end: 4px;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &Link {
        align-self: center;
        margin-block-start: 8px;
        border-radius: 8px;
        padding-block: 8px;
        padding-inline: 12px;
        color: hsl(100deg 0% 100%);
        background-color: hsl(180deg 93% 32%);
    }
}
