.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-block: max(5%, 3rem);

    &Img {
        margin-block-end: 2rem;
        inline-size: 6rem;
        block-size: 6rem;
        animation: loader 1s linear infinite;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
